@model IEnumerable<WebApplicationGrupp13.Models.NotificationViewModel>
@using WebApplicationGrupp13.Enums;

@{
    ViewBag.Title = "Index";
}

<h2>Notiser</h2>



@foreach (var item in Model)
{<div class="row">
     <div class="col-md-4 col-md-offset-2">
         @switch (item.PostType)
         {
             case PostType.Formal:
                 <span>@Html.ActionLink($"Information: {item.Title} av {item.Author}", "Details", "FormalBlogPosts", routeValues: new { Id = item.PostId }, htmlAttributes: null)</span>
                 break;
             case PostType.Informal:
                <span>@Html.ActionLink($"Information: {item.Title} av {item.Author}", "Details", "InformalBlogPosts", routeValues: new { Id = item.PostId }, htmlAttributes: null)</span>
                 break;
             case PostType.Education:
                <span>@Html.ActionLink($"Information: {item.Title} av {item.Author}", "Details", "EducationalBlogPosts", routeValues: new { Id = item.PostId }, htmlAttributes: null)</span>
                 break;
             case PostType.Research:
                <span>@Html.ActionLink($"Information: {item.Title} av {item.Author}", "Details", "ResearchBlogPosts", routeValues: new { Id = item.PostId }, htmlAttributes: null)</span>
                 break;
             //case PostType.Calender:
             //    break;
             default:
                 break;

         }
     </div>
    </div>

    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsNew)
        </td>
    </tr>*@
    }


