@model WebApplicationGrupp13.Models.EditInformationViewModel

@{
    ViewBag.Title = "Redigera din profil";
}

@using (Html.BeginForm("EditInfoNew", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))

{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mobilenumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobilenumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobilenumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <img src="~/Image/@Url.Content(Model.Img)" style="height:70px; width:auto;" alt="profileimage" />

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Img, htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="file" id="imageFile" name="imageFile" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Spara ändringar" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}