@model IEnumerable<WebApplicationGrupp13.Models.Meetings>

@{
    ViewBag.Title = "Index";
}

<h2>Hantera möten</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.meetingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.meetingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
        </td>
    </tr>
}

</table>
