@model IEnumerable<WebApplicationGrupp13.Models.MeetingCreatorViewModel>
@{
    ViewBag.Title = "CreatedMeetings";
}

<h2>Möten</h2>
<p>Dina skapade mötesinbjudningar</p>
<hr />
@if (Model.Count() == 0)
{
    <p>Du har inga skapade möten just nu</p>
}
else
{
    <div class="row">
        <div class="col-md-9">
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-12">
                            <a href="@Url.Action("CreatorDetails", "NewMeetings", new {id = item.MeetingId })">
                                <div class="row @Html.Raw(!item.HasScheduled? "newNotification" : "oldNotification")">
                                    <div class="col-md-1">
                                        <span class="noti glyphicon glyphicon-calendar postType"></span>
                                        @if (!item.HasScheduled)
                                        {
                                            <span class="badge isNew" style="margin-left: -8px;">Boka</span>
                                        }
                                    </div>
                                    <div class="col-md-11">

                                        <p class="topRow">
                                            Du har skapat ett möte: @item.Title
                                        </p>
                                        <div class="col-sm-12 date">
                                            <p class="bottomRow">@item.Date1 | @item.Date2 | @item.Date3 </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <hr class="notificationDivider" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
