@model IEnumerable<WebApplicationGrupp13.Models.MeetingVotesViewModel>
@using WebApplicationGrupp13.Controllers
@{
    ViewBag.Title = "Index";
}

<h2>Möten</h2>
<p>Möten du är inbjuden till</p>
<hr />
@if (Model.Count() == 0)
{
    <p>Du har inga mötesinbjudningar just nu</p>
}
else
{
    <div class="row">
        <div class="col-md-4"><p class="authorName">Mötesnamn</p></div>
        <div class="col-md-3"><p class="authorName">Mötesadministratör</p></div>
        <div class="col-md-3"><p class="authorName">Valbara tider</p></div>
        <div class="col-md-2"><p></p></div>
    </div>
    <hr class="notificationDivider" />



    foreach (var item in Model)
    {

        var Name = FormalBlogPostsController.GetNameFromUsername(item.Creator);

        <div class="row meetings">
            <div class="col-md-4">
                <p>@Html.DisplayFor(modelItem => item.Title)</p>
            </div>
            <div class="col-md-3">
                <p>@Name</p>
                <p class="eMail">@Html.DisplayFor(modelItem => item.Creator)</p>
            </div>
            <div class="col-md-3">
                <p>@Html.DisplayFor(modelItem => item.Date1)</p>
                <p>@Html.DisplayFor(modelItem => item.Date2)</p>
                <p>@Html.DisplayFor(modelItem => item.Date3)</p>
            </div>
            @if (!item.HasVoted)
            {
                <div class="col-md-2">
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("MeetingVotes", "NewMeetings", new { id = item.MeetingId})'">Rösta på mötestid</button>
                </div>
            }
            else
            {
                <div class="col-md-2">
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "NewMeetings", new { id = item.MeetingId})'">Se mötesdetaljer</button>
                </div>
            }

        </div>
        <hr class="notificationDivider" />
    }
}


