@model IEnumerable<WebApplicationGrupp13.Models.Meetings>
@using WebApplicationGrupp13.Controllers


@{
    ViewBag.Title = "Index";
}

<h2>Mina möten</h2>


<p>
    @Html.ActionLink("Skapa nytt möte", "Create")
</p>

@*var Model2 = Model.OrderByDescending(c => c.id);
foreach(var item in Model2)
    {
<div class="ShowMeetings">
    <div class="ShowMeetingsContent">
        @{
            // var time = MeetingsNewController.GetDateFromDateTime(item.dateTime);
        }
        <h3>@Html.DisplayFor(modelItem => item.meetingName)</h3>
        <h6>@Html.DisplayFor(modelItem => item.date1)</h6>
        <h6>@Html.DisplayFor(modelItem => item.date2)</h6>
        <h6>@Html.DisplayFor(modelItem => item.date3)</h6>
        <p>@Html.DisplayFor(modelItem => item.creator)</p>
        <br />
    </div>
</div>}*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.meetingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creator)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.meetingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creator)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

