@model WebApplicationGrupp13.Models.FormalBlogPost

@{
    ViewBag.Title = "Blogginlägg";
}
@using WebApplicationGrupp13.Controllers
<br />
<div class="formalBlogPost">
    <div class="formalBlogPostContent">
        @{
            var time = FormalBlogPostsController.GetDateFromDateTime(Model.dateTime);
            var imageSrc = FormalBlogPostsController.GetProfilePictureFromUsername(Model.creator);
            var Name = FormalBlogPostsController.GetNameFromUsername(Model.creator);
        }
        <h3>@Html.DisplayFor(mode => Model.title)<span class="authorTime">@time</span></h3>
        <h4><span class="authorTime">@Name</span></h4>
        <h6>@Html.DisplayFor(model => Model.category)</h6>
        <div class="profile-thumbnail" style="float:right;">
            <span><img src="~/Image/@imageSrc" style="height:70px; width:auto;"></span>
        </div>
        <p>@Html.DisplayFor(model => Model.postText)</p>
        <br />

    </div>
    <div class="blogButtons">
        @if (Model.fileName != null) {
            <a href="~/FormalBlogPostUploads/@Model.fileName" download>@Model.fileName</a>
            <br />
        }
        @if (Model.creator.Equals(User.Identity.Name)) {

            <p>
                @Html.ActionLink("Redigera", "Edit", new { id = Model.id }) | @Html.ActionLink("Ta bort", "Delete", new { id = Model.id })    
            </p>
        } else {
            <br />
        }
        @{
            FormalBlogPostCommentsController commentsController = new FormalBlogPostCommentsController();
        }
        @foreach (var comment in commentsController.GetComments(Model.id, "Formal")) {
            var commentTime = FormalBlogPostsController.GetDateFromDateTime(comment.dateTime);
            <div class="formalBlogPostComment" id="@Model.id">


                <p>@comment.commentText</p>
                <p class="formalBlogPostCommentAuthor">@comment.author | @commentTime</p>
            </div>

        }

        @{ int id = Model.id;
            int textBoxId = id + 999;
            string textBoxIdString = textBoxId.ToString();}
        @Html.TextArea(textBoxIdString, null, new { placeholder = "Skriv en kommentar", id = "1", rows = "3", cols = "1000" })


        <button id="@Model.id" onClick="reply_click(this.id)">Skicka</button>

    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script>
       var urlpath = '@Url.Action("CreateComment", "FormalBlogPostComments")';

    </script>
    <script type="text/javascript">

            $(function () {



                $('#btnStart').on('click', function () {
                    console.log(x);
            });
            });
            function reply_click(clicked_id) {
                var clicked_id_int = parseInt(clicked_id);
                var commentId = clicked_id_int += @textBoxId - 2;
                console.log(commentId)
                var commentTxt = document.getElementById("1").value;


                console.log(clicked_id);
                $.ajax({
                    type: 'POST',
                    url: urlpath,
                    data: JSON.stringify({ blogPostId: clicked_id, blogPostType: "Formal", commentText: commentTxt }),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                })

                location.reload();
            }
    </script>
</div>

<p>
   
    @Html.ActionLink("Tillbaka till Information", "Index")
</p>
