@model IEnumerable<WebApplicationGrupp13.Models.InformalBlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Anslagstavla</h2>

<p>
    @Html.ActionLink("Skapa nytt inlägg", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.postText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.postText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.id }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
