@model IEnumerable<WebApplicationGrupp13.Models.InformalBlogPostCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Kategorier</h2>

<p>
    @Html.ActionLink("Lägg till ny kategori", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.name)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
            </td>
        <td>
            @Html.ActionLink("Redigera", "Edit", new { id = item.name }) |
            @Html.ActionLink("Ta bort", "Delete", new { id = item.name })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Tillbaka till skapa inlägg", "Create", "InformalBlogPosts")
</div>
